name: Mnt Write
on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - run: |
          sudo ls -lRa /mnt
          sudo touch /mnt/leaky
          sudo ls -lRa /mnt
